<template name="DevMobileNavBar">
	
	<!-- Seach Button -->
	<div class="usable-nav-bar">
		<button id="logoutBtn" class="logout-icon"></button>		
		<button class="bel-icon"></button>

		<input type="text" class="search-use" placeholder="Pesquise os últimos chamados..." />
	</div>

	<!-- Mobile Bar -->
	<div class="mobile-bar devmobile">
		<button type="button" id="home-mobile" class="mobile-bar-actived">Home</button>
		<button type="button" id="ver-chamados-mobile" class="devUxo">Ver Chamados</button>
		<button type="button" id="ver-relatorio-mobile">Ver Relatórios
			<div class="rel-beta"></div>
		</button>
	</div>

</template>