<template name="FUMobileNavBar">
	
	<!-- Seach Button -->
	<div class="usable-nav-bar">
		<button id="logoutBtn" class="logout-icon"></button>		
		<button class="bel-icon"></button>

		<!-- Adicionar Btn -->
		<a id="" class="add-uxo">Adicionar chamado</a>
		<a id="" class="add-uxo-mobile">+</a>

		<input type="text" class="search-use" placeholder="Pesquise seus últimos chamados..." />
	</div>

	<!-- Mobile Bar -->
	<div class="mobile-bar">
		<button type="button" id="home-mobile" class="mobile-bar-actived">Home</button>
		<button type="button" id="ver-chamados-mobile">Ver Chamados</button>
		<button type="button" id="ver-relatorio-mobile">Ver Relatórios
			<div class="rel-beta"></div>
		</button>
		<button type="button" id="avaliar-dev-mobile">Avaliar</button>
	</div>

</template>